<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/tablesorter/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.8.8.custom.css")" rel="stylesheet" type="text/css" />
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.8.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-da.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cascadingDropDown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.parsequery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
	<script src="http://vjs.zencdn.net/c/video.js"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>@ViewBag.Title</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_NoLogOnPartial")
            </div>

            <div id="menucontainer">
                @if (IsSectionDefined("menu")) 
                {     
                    @RenderSection("menu")
                }
                else 
                {     
                <ul id="menu">
                    <li>@Html.ActionLink("Info", "About")</li>
                </ul>
                }
            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
